
# General
.DS_Store
.idea
*.log

# User requested: Ignore assets for now
frontend/public/assets/*.png
frontend/public/assets/*.webp
frontend/public/assets/*.svg

# Dependencies (just in case)
node_modules/
target/
build/
